/* body{
    background-image: url("./hogwartschl.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
marquee
{
   
}
h1{
font-family: 'Harry Potter', sans-serif;
} */
.heading img {
    display: block;
    margin: auto;
    padding-top: 10px;
    width: max-content;
  }

  


body{
    background: url("hogwartschl.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.name{
    display: flex;
    justify-content: space-evenly;
    background: rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 30px;
    height:90px;
    margin-bottom: 30px;

}
h3{
    color: white;
    font-size: x-large;
    font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal; 
  
   
  
  
    
}
th{
    text-align: center;
    font-size: 30;
}
td{
    height: 150px;
    width: 150px;
    border: 3px solid white;
    color: black;
    border-radius: 0% 50% 0% 50%;
    padding: 10px;
}
.t{
    display: flex;
    justify-content: space-evenly;
    background: rgba(0, 0, 0, 0.4);
    margin-top: 20px;

}
img{
    height: 150px;
    width: 150px;
    border-radius: 0 50% 0 50%;
    padding: 20px;

}
                                      